Bin/*
*.user
*.sdf
*.opensdf
*.suo
*.ptx
*.pyc
*.VC.db
*.VC.opendb
.vs/*
.vscode/
*.pyc
*.o
*slang-dump-*
*.mp4
Source/Externals/.packman/*
Media
Tools/.packman
Tests/data
*.tlog
/Source/RenderPasses/HBAOPlus/SDK/build/platforms/vs2015/x64/release
